---
import Breadcrumbs from "@/components/Breadcrumbs.astro";
import Link from "@/components/Link.astro";
import PageHead from "@/components/PageHead.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: "About", icon: "lucide:info" }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <h2>私について</h2>
        <p>そう、私です。</p>
        <p>
          インターネット上にはさまざまな情報が落ちているので、いろいろ探してみよう！
        </p>

        <h2>このサイトについて</h2>
        <p>
          定期的にブログサイトを作っては捨て、作っては放置しを繰り返し、N
          代目のブログサイト。今回は Astro 製である。
        </p>
        <p class="mt-0">
          <Link
            href="https://github.com/jktrn/astro-erudite"
            external
            underline
          >
            Astro Erudite
          </Link> テンプレートを使用。shadcn/ui を使っていてモダン〜。
        </p>
        <p>
          詳細は <Link href="/blog/2025/07/13-new-blog">この記事</Link> で。
        </p>
      </div>
    </div>
  </section>
</Layout>
