---
import BlogCard from "@/components/BlogCard.astro";
import PageHead from "@/components/PageHead.astro";
import SeeAllPosts from "@/components/SeeAllPosts.astro";
import { SITE } from "@/consts";
import Layout from "@/layouts/Layout.astro";
import { getRecentPosts } from "@/lib/data-utils";

const blog = await getRecentPosts(SITE.featuredPostCount);
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Home" />

  <section class="flex flex-col gap-y-4">
    <div class="flex items-center justify-between">
      <h2 class="text-2xl font-medium">最新の記事</h2>
      <SeeAllPosts />
    </div>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <SeeAllPosts />
    </div>
  </section>
</Layout>
