services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ../:/home/vscode/app:cached
      - astro:/home/vscode/app/.astro
      - dist:/home/vscode/app/dist
      - node_modules:/home/vscode/app/node_modules
    environment:
      CLOUDFLARE_ENV: dev
      NODE_ENV: development
    tty: true
    stdin_open: true

volumes:
  astro:
    driver: local
  dist:
    driver: local
  node_modules:
    driver: local
